@import '~antd/dist/antd.css';
@font-face {
  font-family: ApexMk2Bold;
  src: url(./font/ApexMk2-BoldExtended.otf);
}
@font-face {
  font-family: ApexMk2Light;
  src: url(./font/ApexMk2-LightCondensed.otf);
}
@font-face {
  font-family: ApexMk2;
  src: url(./font/ApexMk2-Regular.otf);
}

@media only screen and (max-width: 700px) {
  .grid-4 {
    grid-template-columns: repeat(2, 1fr) !important;
  }
  .grid-3 {
    grid-template-columns: repeat(1, 1fr) !important;
  }

  .legend-content {
    left: 0px !important;
    margin: 0 auto;
  }
}
@media only screen and (min-width: 701px) and (max-width: 1100px) {
  .grid-3 {
    grid-template-columns: repeat(2, 1fr) !important;
  }

  .legend-content {
    left: 0px !important;
    margin: 0 auto;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* LAYOUT */
.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}

.grid-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
}

.flexbox {
  display: flex;
  flex-wrap: wrap;
}

.flexbox div {
  flex: 1 1 50%;
}

#page-bg {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -2;
}

.navbar {
  padding: 0 1rem;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
  height: 40px;
}

.navbar h1 {
  color: #fff;
  font-family: ApexMk2;
  font-size: 1.5rem;
}

.profile-container {
  max-width: 1100px;
  margin: auto;
  font-family: ApexMk2;
}

.btn {
  font-family: ApexMk2;
}

.error {
  color: #767676;
  font-size: 1.5rem;
  margin-left: 1rem;
}

.error h1 {
  color: #fff;
  margin: 0;
}

.error i {
  margin-right: 1rem;
  color: #da292a;
}

.spinner {
  font-size: 2rem;
  text-align: center;
  margin-top: 5rem;
}

.ant-spin-text {
  font-size: 2rem;
}

/* PROFILE HEADER */

.profile-header {
  background: #020202;
  color: #fff;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.25);
  padding-bottom: 25px;
}

.round-img {
  width: 150px;
  border-radius: 50%;
}

.icon {
  font-size: 2rem;
  margin-left: 1rem;
  color: #da292a;
}

.header-item {
  text-align: center;
  margin: 1rem 0 0 0.5rem;
  font-size: 1rem;
}
.header-item p {
  font-size: 1.25rem;
}

.header-name {
  margin-top: 1rem;
}

.header-item h1 {
  display: inline-block;
  color: #fff;
  font-size: 2rem;
  margin: 0;
}

.header-item h3 {
  color: #fff;
  font-size: 1.5rem;
  margin: 1rem 0 0 0;
  line-height: 0.9;
}

.header-item span {
  color: #767676;
}

.level-text {
  color: #767676;
}

.level-img-container {
  position: relative;
}

.level-img-container p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
}

.stats-header-outer {
  height: 100%;
  position: relative;
  margin: 0;
}

.stats-header-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.stats-header-inner > * {
  margin: 0;
  line-height: 1.25;
}

.stats-header-inner h2 {
  border-bottom: 4px solid #da292a;
  font-size: 1.8rem;
  color: #fff;
}
.stats-header-inner p {
  font-size: 1.1rem;
  color: #767676;
}

/* Custom */

.img-logo {
  width: 150px;
}

.menu-item-image {
  height: 110px !important;
}

.sider {
  height: 100vh;
  opacity: 0.9;
  min-width: 250px !important;
}

.form-input {
  width: 90%;
  margin-left: 10px;
}

.form-input label {
  color: #fff;
  font-size: 1.1rem;
  font-weight: 500;
  font-family: ApexMk2;
}

.select-search {
  width: 100%;
  font-family: ApexMk2;
}

.form-img {
  width: 245px;
  height: auto;
  margin-top: 1rem;
}

.ant-form-explain {
  font-size: 1rem;
}

.form-search h1 {
  color: #fff;
  margin-top: 0.75rem;
}

.btn-search {
  width: 100%;
  margin-top: 1.25rem;
  font-family: ApexMk2;
}

/* LEGEND ITEM */
.legend-container {
  background: rgba(0, 0, 0, 0.25);
}

.legend-item {
  text-align: center;
}

.legend-item:last-child {
  margin-bottom: 20px;
}

.legend-img {
  position: relative;
  max-width: 350px;
  max-height: 391px;
  z-index: 5;
}

.legend-name-container {
  position: relative;
}
.legend-name-container h1 {
  color: #fff;
  font-family: ApexMk2Bold;
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(50%);
  font-size: 3.25rem;
  text-shadow: 2px 2px 5px #767676;
}

.legend-content {
  width: 232px;
  background: url('./images/legend-bg.png');
  position: relative;
  z-index: 1;
  left: 62px;
  border-radius: 5px;
  margin-top: -58px;
  padding-top: 60px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.legend-content p {
  /* margin: 0; */
  margin-bottom: 1rem;
  color: #fff;
  font-size: 1.5rem;
}

.legend-content h2 {
  margin: 0;
  line-height: 1;
  font-size: 1.1rem;
}

.ant-card-grid {
  box-shadow: none !important;
  padding: 0;
}

/* NAVBAR FORM */
.navbar-form-input {
  width: 200px !important;
  font-family: ApexMk2;
}

.navbar-btn {
  width: 150px;
  border: none;
}
