@import '~antd/dist/antd.css';
@font-face {
  font-family: ApexMk2Bold;
  src: url(./font/ApexMk2-BoldExtended.otf);
}
@font-face {
  font-family: ApexMk2Light;
  src: url(./font/ApexMk2-LightCondensed.otf);
}
@font-face {
  font-family: ApexMk2;
  src: url(./font/ApexMk2-Regular.otf);
}

:root {
  --primary-color: #953036;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #fff;
  color: #fff;
}

/* Custom */

.img-logo {
  width: 150px;
}

.menu-item-image {
  height: 110px !important;
}

.sider {
  height: 100vh;
  opacity: 0.9;
  min-width: 250px !important;
}

.form-input {
  width: 90%;
  margin-left: 10px;
}

.form-input label {
  color: #fff;
  font-size: 1.1rem;
  font-weight: 500;
}

.select-search {
  width: 100%;
}

.form-img {
  width: 245px;
  height: auto;
  margin-top: 1rem;
}

.ant-form-explain {
  font-size: 1rem;
}

.form-search h1 {
  color: #fff;
  margin-top: 0.75rem;
}

.btn-search {
  width: 100%;
  margin-top: 1.25rem;
}

#page-bg {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.legend-container {
  background: #020202;
  text-align: center;
  padding: 1rem 1rem;
  font-family: ApexMk2;
}

.legend-container h3 {
  color: #767676;
}

.legend-container h3 span {
  display: block;
  line-height: 0.5;
}

.top-grid {
  padding: 0 !important;
  grid-gap: 0 !important;
}

.top-grid-item {
  border-right: 1px solid #767676;
  font-size: 0.8rem;
}
.top-grid-item:last-child {
  border-right: none;
}

.top-grid-item p {
  font-size: 2.5rem;
  margin-bottom: 0;
  line-height: 1;
}

.mid-grid {
  margin: 2rem 0;
}

.mid-grid-item {
  /* border: 1px solid red; */
  border-radius: 100px;
}

.mid-grid-main-dmg {
  font-size: 3.25rem;
  margin-bottom: 0rem;
}

.mid-grid-item-minor h3 {
  font-size: 1.25rem;
}

.mid-grid-item-minor {
  color: #767676;
  font-size: 1rem;
  margin-bottom: 0;
}

.mid-grid-item-minor span {
  color: #fff;
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  padding: 0 2rem;
}

.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
}

/* End */

a {
  color: #fff;
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  background: rgba(105, 105, 105, 0.4);
  border-radius: 10px;
  max-width: 500px;
  margin: 1rem auto;
  overflow: auto;
  padding: 0 2rem;
}

.form-group {
  margin: 1rem 0;
}

.search {
  background: rgba(0, 0, 0, 0.5);
  border: 4px #fff solid;
  margin-top: 1rem;
  padding: 2rem;
}

input,
select,
textarea {
  display: block;
  width: 100%;
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
}

.btn {
  display: inline-block;
  background: var(--primary-color);
  color: #fff;
  padding: 0.4rem 1.3rem;
  border: none;
  cursor: pointer;
  outline: none;
  margin-top: 1rem;
}

@media (max-width: 700px) {
  body {
    background: var(--primary-color);
  }

  .img-logo {
    display: block;
    margin: auto;
  }
}
